<template>
    <div class="post">
        <div class="post-title">
            {{ post.title }}
        </div>
        <div class="post-text">
            {{ post.text }}
        </div>
        <div class="post-date">
            {{ formatDate(post.date) }}
        </div>
    </div>
</template>

<script>
import { DateTime } from 'luxon';
export default {
    props: {
        post: {
            type: Object,
            default: null
        }
    },
    methods: {
        formatDate (date) {
            return DateTime.fromISO(date).setLocale('ru').toFormat('f');
        }
    }
}
</script>

<style scoped>
    .post {
      box-shadow: 0.1rem 0.1rem 0.3rem var(--box-shadow-color);
      margin: 1rem 0;
      display: block;
      padding: 1rem;
      border-radius: 0.2rem;
      border: .1rem solid var(--border-color);
    }
    .post-title {
      border-bottom: 0.3rem solid var(--border-color);
      padding: 0 0 1rem 0;
      font-size: 1.8rem;
    }
    .post-text {
      padding: 1rem 0;
      font-size: 1.6rem;
    }
    .post-date {
      padding: 1rem 0;
      text-align: right;
      font-size: 1.4rem;
    }
</style>