<template>
    <div class="container-page">
        <header-page class="login-header"></header-page>
        <form class="container-form" @submit="login" action="#" method="post">
            <div class="form-group">
                <label for="login">Login</label>
                <input id="login" name="login" v-model="user.login" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" v-model="user.password" />
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</template>

<script src="./login.js"></script>

<style scoped lang="postcss">
@import "./login.css";
</style>

<style lang="postcss">
.login-header {
    text-align: center;
}
</style>