<template>
    <form class="container-form" @submit="save" action="#" method="post">
        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" name="title" v-model="post.title" />
        </div>
        <div class="form-group">
            <label for="text">Text</label>
            <textarea id="text" name="text" v-model="post.text"></textarea>
        </div>
        <div class="modal-buttons">
            <button @click="$store.dispatch('modal/close')" type="button">
                Exit
            </button>
            <button type="submit">{{ add ? "Create" : "Save" }}</button>
        </div>
    </form>
</template>

<script>
import { cloneDeep } from "lodash";
export default {
    name: "PostForm",
    data() {
        return {
            post: null,
            add: false
        };
    },
    created() {
        this.add = this.$store.state.modal.data ? false : true;

        this.post = cloneDeep(this.$store.state.modal.data) || {
            id: null,
            title: "",
            text: "",
            date: null
        };
    },
    methods: {
        save(e) {
            e.preventDefault();
            if (this.post.title.length > 0 && this.post.text.length > 0) {
                let posts = cloneDeep(this.$store.state.posts.data);
                if (this.add) {
                    this.post.id = Math.random();
                    this.post.date = (new Date()).toISOString();
                    posts.push(this.post);
                } else {
                    const indexPost = posts.findIndex(item => {
                        return item.id === this.post.id;
                    });
                    posts[indexPost] = this.post;
                }
                this.$store.dispatch("posts/set", posts);
                this.$store.dispatch("modal/close");
            }
        }
    }
};
</script>

<style scoped>
.form-group {
    margin: 0 1.6rem;
}
</style>
