<template>
    <div class="post">
        <div class="post-title">
            <div>{{ post.title }}</div>
            <div class="post-actions">
                <button @click="removePost(post)">Remove</button>
                <button @click="editPost(post)">Edit</button>
            </div>
        </div>
        <div class="post-text">
            {{ post.text }}
        </div>
        <div class="post-date">
            {{ formatDate(post.date) }}
        </div>
    </div>
</template>

<script>
import { DateTime } from "luxon";
import { cloneDeep } from "lodash"
import PostForm from "./PostForm.vue";

export default {
    props: {
        post: {
            type: Object,
            default: null
        }
    },
    methods: {
        formatDate(date) {
            return DateTime.fromISO(date)
                .setLocale("ru")
                .toFormat("f");
        },
        removePost(post) {
            this.$store.dispatch("alert/open", {
                text: `<strong>Удалить статью:</strong> ${post.title}?`,
                yes: () => {
                    this.removePostFromSession(post);
                }
            });
        },

        removePostFromSession(post) {
            let posts = cloneDeep(this.$store.state.posts.data);
            const indexPost = posts.findIndex((item) => {
                return item.id === post.id;
            });
            posts.splice(indexPost, 1);
            this.$store.dispatch('posts/set', posts);
        },

        editPost(post) {
             this.$store.dispatch("modal/open", {
                title: `<strong>Редактировать статью</strong>`,
                component: PostForm,
                data: post
            });
        }
    }
};
</script>

<style scoped lang="postcss">
.post-actions {
    display: flex;

    button {
        margin: 0 0.8rem 0 0;
        max-height: 2.6rem;
    }
}
.post {
    box-shadow: 0.1rem 0.1rem 0.3rem var(--box-shadow-color);
    margin: 1rem 0;
    display: block;
    padding: 1rem;
    border-radius: 0.2rem;
    border: 0.1rem solid var(--border-color);
}
.post-title {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.3rem solid var(--border-color);
    padding: 0 0 1rem 0;
    font-size: 1.8rem;
}
.post-text {
    padding: 1rem 0;
    font-size: 1.6rem;
}
.post-date {
    padding: 1rem 0;
    text-align: right;
    font-size: 1.4rem;
}
</style>