<template>
    <transition name="fade">
        <div
            class="alert-container"
            @click="no"
            v-if="this.$store.state.alert.open"
        >
            <div @click.stop="()=>{}" class="alert-content">
                <div class="text" v-html="$store.state.alert.text"></div>
                <div class="alert-buttons">
                    <button @click.stop="no">no</button>
                    <button @click.stop="yes">Yes</button>
                </div>
            </div>
        </div>
    </transition>
</template>


<script>
export default {
    name: "Alert",
    methods: {
        yes() {
            if (this.$store.state.alert.yesCB) {
                this.$store.state.alert.yesCB();
            }
            this.$store.dispatch("alert/close");
        },
        no() {
            if (this.$store.state.alert.noCB) {
                this.$store.state.alert.noCB();
            }
            this.$store.dispatch("alert/close");
        }
    }
};
</script>

<style lang="postcss">
.alert-container {
    background: var(--box-shadow-dark-color);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .alert-content {
        background: var(--modal-bg);
        box-shadow: 0 0.1rem 0.1rem var(--box-shadow-dark-color);
        border-radius: 0.4rem;
        min-width: 40rem;
        max-width: 60rem;
        min-height: 1.5rem;
        width: max-content;
        height: max-content;
    }
    .text {
        font-size: 1.8rem;
        padding: 1.6rem;
    }
    .alert-buttons {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        button {
            border: 0.1rem solid var(--box-shadow-dark-color);
            box-shadow: 0 0.1rem 0.1rem var(--box-shadow-dark-color);
            margin: 0.8rem;
        }
    }
}
</style>