<template> 
    <div class="title">{{ this.$route.meta.title }}</div> 
</template>


<script>
export default {
    name: "HeaderPage"
};
</script>

<style scoped>
.title {
    font-size: 1.8rem;
    font-weight: bold;
    padding-top: 1rem;
}
</style>