<template>
    <transition name="fade">
        <div
            class="modal-container"
            @click="close"
            v-if="this.$store.state.modal.open"
        >
            <div @click.stop="()=>{}" class="modal-content">
                <div class="title" v-html="$store.state.modal.title"></div>
                <component :is="$store.state.modal.component"></component>
            </div>
        </div>
    </transition>
</template>


<script>
export default {
    name: "AleModal",
    methods: {
        close() {
            this.$store.dispatch("modal/close");
        }
    }
};
</script>

<style lang="postcss">
.modal-container {
    background: var(--box-shadow-dark-color);
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal-content {
        background: var(--modal-bg);
        box-shadow: 0 0.1rem 0.1rem var(--box-shadow-dark-color);
        border-radius: 0.4rem;
        min-width: 40rem;
        max-width: 60rem;
        min-height: 1.5rem;
        width: max-content;
        height: max-content;
    }
    .title {
        font-size: 1.8rem;
        padding: 1.6rem;
    }
    .modal-buttons {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        button {
            border: 0.1rem solid var(--box-shadow-dark-color);
            box-shadow: 0 0.1rem 0.1rem var(--box-shadow-dark-color);
            margin: 0.8rem;
        }
    }
}
</style>