<template>
    <div class="navigation">
        <div class="container-page">
            <nuxt-link to="/" v-if="$route.path !== '/'">Go home</nuxt-link>
            <template v-for="(route, index) in $router.options.routes">
                <nuxt-link
                    v-if="route.meta.type === 'web' 
                    && route.meta.permits.includes(permit) 
                    && $route.path !== route.path"
                    :to="route.path"
                    :key="index"
                >
                    {{ route.meta.title }}
                </nuxt-link>
            </template>
            <a @click.stop="$store.dispatch('user/logout')" v-if="$store.state.user.auth">Logout</a>
        </div>
    </div>
</template>

<script>
export default {
    name: "Navigation",
    computed: {
        permit() {
            return this.$store.state.user.auth ? 'auth' : 'guest';
        }
    }
};
</script>

<style scoped lang="postcss">
.navigation {
    position: fixed;
    width: 100%;
    z-index: 1;
    background: var(--border-color);
    left: 0;
    top: 0;
    box-shadow: 0rem 0.1rem 0.4rem var(--box-shadow-dark-color);
    a {
        padding: var(--container-margin) var(--container-margin) var(--container-margin) 0;
        display: inline-block;
        color: black;
        text-decoration: none; 
        cursor: pointer;
        &:hover {
          color: var(--grey);
        }
        &.nuxt-link-exact-active {
          color: var(--blue);
        }
    }
    .container-page {
        margin: 0 auto;
    }
}
</style>
