.container-page {
  margin: 5.5rem auto 0 auto;
  width: 70%;
}

@media only screen and (max-width: 600px) {
  .container-page {
    width: 100%;
    margin: 0;
    padding: 0 var(--container-margin);
  }
}
