input, textarea {
  border: 0.1rem solid var(--border-color);
  border-radius: 0.4rem;
  margin-top: 0.8rem;
  min-height: 2.6rem;
  font-size: 1.6rem;
  padding: 0.3rem;
}

textarea {
  min-height: 40rem;
  max-width: 100%;
  min-width: 100%;
}

button {
  border: 0.1rem solid var(--border-color);
  background: var(--border-color);
  border-radius: 0.4rem;
  margin-top: 0.8rem;
  min-height: 2.6rem;
  font-size: 1.6rem;
  padding: 0.3rem;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 0.1rem 0.1rem var(--box-shadow-dark-color);
}

.container-form { 
  margin: 0 auto;
  .form-group {
    display: flex;
    flex-direction: column;
  }
}