:root {
    --container-margin: 1.6rem;

    --border-color: #D7E1E9;
    --box-shadow-color: #D7E1E9;
    --box-shadow-dark-color: rgba(0,0,0,0.2);
    --modal-bg: #D7E1E9;

    --blue:#033cdc;
    --grey:#737373;
}