<template>
    <div class="container-page">
        <header-page></header-page>
        <div class="container-posts">
            <post
                v-for="post in sortedPosts"
                :key="post.id"
                :post="post"
            ></post>
        </div>
    </div>
</template>

<script src="./posts.js"></script>

<style scoped lang="postcss">
@import "./posts.css";
</style>